body {
    margin-top: 1.0em;
    /*background: url("../images/bg.png") repeat scroll 0 0 transparent;*/
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
p {
    line-height: 140%;
}
a {
    color: steelBlue;
}
h2 {
    margin-bottom: 10px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol li {
    list-style-type: decimal;
}
#main {
    width: 960px;
    margin: auto;
}
#container {
    margin-right: 260px;
    /*position: relative;*/
}
#site-nav {
    float: right;
}
#site-menu {
    list-style: none;
}
#site-menu li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#site-menu li a {
    color: steelBlue;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline-block;
}
#site-menu li.selected a {
    border-bottom: 2px solid steelBlue;
    padding-bottom: 3px;
}
#site-menu li a:hover {
    color: rgb(48, 118, 182);
}
#logo {
    color: #666;
    text-decoration: none;
    font-size: 17px;
}
.github-fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
header {
    height: 30px;
    border-bottom: 2px solid #CACACA;
    margin-bottom: 10px;
}

.byline {
    font-size: 12px;
    margin-bottom: 10px;
}
.byline .author {
    display: inline;
    font-style: none;
    color: #1D637D;
    line-height: 2em;
    font-size: 100%;
    font-weight: bold;
}
.byline .author a {
    text-decoration: none;
    font-style: normal;
}
.byline .pubdate {
    color: #DD4725;
    line-height: 2em;
    font-size: 100%;
    font-weight: bold;
}
.byline .separator {
    color: #CCC;
    font-size: 13px;
    font-family: arial,helvetica,sans-serif;
    line-height: 26px;
    padding: 0 6px;
    font-weight: bold;
}

#share {
    height: 25px;
    border-bottom: 1px solid #DDD;
    padding: 5px 0;
    margin-top: 5px;
}
#share-button-list li {
    width: 100px;
    float: left;
}

/*
aside {
    font-size: 12px;
    position: absolute;
    right: -190px;
    border: 1px dashed #CCC;
    padding: 5px;
    width: 170px;
}

@media screen and (max-width:900px) {
    aside {
        display: none;
    }
}
*/

