html {

}
body {
    margin-top: 1.0em;
    background-color: #ffffff;
    background: url("../images/bg.png") repeat scroll 0 0 transparent;
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#site-nav {
    float: right;
}
#site-menu {
    list-style: none;
}
#site-menu li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
#site-menu li a {
    color: white;
    padding: 0;
    margin: 0;
    font-weight: lighter;
    font-family: Helvetica, arial;
    line-height: 45px;
    font-size: 18px;
    text-shadow: 1px 1px 0px black;
    text-decoration: none;
}
#site-menu li.selected a {
    color: rgb(48, 118, 182);
}

#logo {
    font-family: 'Bilbo', cursive;
    font-weight: 400;
    font-size: 35px;
    padding: 2px 0 2px 10px;
    color: white;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    text-decoration: none;
}

#container {
    margin: 60px auto 0 auto;
    width: 800px;
}

h3 a {
    text-decoration: none;
}
h3 a:hover,
#site-menu li a:hover {
    color: rgb(48, 118, 182);
}

a {
    color: #333333;
}
a:hover {
    color: #000000;
}
p {
    line-height: 1.4em;
}

header {
    background-color: black;
    background-image: url("http://static.nodesocket.com/doc/images/denim.png");
    height: 45px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    font-size: 1.3em;
}

#project-list {

}

#project-list li {
    border-bottom: 1px solid #AEAEAE;
}
