/* RESET CSS */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,a,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input,select,textarea {
    vertical-align:top;
    background:#fff;
    border:1px solid;
}
blockquote,q {
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration:line-through;
}
abbr[title],dfn[title] {
    border-bottom:1px dotted;
    cursor: help;
}
/* END RESET CSS */
body {
    line-height:1;
    font-size:100.01%;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body,select,input,textarea,a {
    color:#eee;
}
input,select {
    vertical-align:middle;
}
h1,h2,h3 {
    font-weight:normal;
    /* text-rendering:optimizeLegibility;
    */
}
label,input[type=button],input[type=submit],button {
    cursor:pointer;
}
input {
    -webkit-appearance:none;
}
ul {
    list-style-type:none;
    margin: 0;
}
/* =========================================== NON-SEMANTIC HELPER CLASSES============================================== */
/* For image replacement */
.ir {
    display:block;
    text-indent:-9999px;
    overflow:hidden;
    background-repeat: none;
}
/* Clearfix */
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    display:inline-block;
}
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}
/* Selections */::-moz-selection {
    color:#eee;
    background:rgba(0,145,195,0.3);
}
::selection {
    color:#eee;
    background: rgba(0,145,195,0.3);
}
/* Tap highlights */
* {
    -webkit-tap-highlight-color:rgba(11,140,184,0.6);
}
textarea {
    resize: none;
}
/* =========================================== BASE STYLES============================================== */
#skip {
    display:none;
}
html {
    height:100%;
}
body {
    background:url("images/bg.jpg?1305065911") no-repeat fixed 50% 0 #151515;
    text-align:center;
    font:normal 14px/24px "Proxima Nova Condensed Regular","Proxima Nova Condensed","Arial Narrow",Helvetica,Arial,sans-serif;
    color:#9f9f9f;
}
p,form {
    font:13px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#9f9f9f;
}
img,.slides,#people .img {
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:rgba(0,0,0,0.4) 0 0 2px 0;
    -webkit-box-shadow:rgba(0,0,0,0.4) 0 0 2px 0;
    -o-box-shadow:rgba(0,0,0,0.4) 0 0 2px 0;
    box-shadow:rgba(0,0,0,0.4) 0 0 2px 0;
    border:1px solid #444;
    background:rgba(255,255,255,0.04);
    padding:3px;
}
#wrapper {
    *position:relative;
    margin:0 auto;
    width:922px;
}
section {
    background: url("images/hr_top.png?1305065911") no-repeat scroll 0 0 transparent;
    float: left;
    overflow: hidden;
    padding: 78px 60px;
    position: relative;
    text-align: left;
    width: 802px;
}
#work h2,#people h2,#about h2,#blog h2,#services h2,#contact h2 {
    font-family: "Proxima Nova Condensed Semibold","Arial Narrow",Helvetica,Arial,sans-serif;
    color:#eee;
    font-size:21px;
    text-transform:uppercase;
    margin-bottom:30px;
    text-shadow:0 -2px 0 rgba(0,0,0,0.7);
    -webkit-font-smoothing: antialiased;
}
/* =========================================== LINKS============================================== */
a {
    text-decoration:none;
    position:relative;
    color:#999;
    border-bottom:1px solid #444;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
}
a:hover,p a:focus,#blog .over h4 a,#blog a:focus,#footer a:focus {
    color:#0b8cb8;
    border-bottom:1px solid #0b8cb8;
}
p a:focus {
    -webkit-box-shadow:#0b8cb8 0 0 10px;
    -moz-box-shadow:#095d7a 0 0 5px;
    box-shadow:#095d7a 0 0 10px;
}
a:hover img,a:focus img,#people a:hover .img,#people a:focus .img {
    border:1px solid #0b8cb8;
    -webkit-box-shadow:#0b8cb8 0 0 10px;
    -moz-box-shadow:#095d7a 0 0 5px;
    box-shadow:#095d7a 0 0 10px;
    background-color:rgba(255,255,255,0.01);
}
a:active,#submit:active {
    opacity:0.7;
    filter:alpha(opacity=70);
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
}
a.readmore {
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    float:left;
    border:0;
    background:#333;
    background:rgba(255,255,255,0.06);
    padding:1px 10px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#9f9f9f;
}
a.readmore:hover,a.readmore:focus {
    color:#eee;
    background: #095d7a;
}
/* =========================================== NAVIGATION============================================== */
#nav {
    width:940px;
    *width:700px;
    position:absolute;
    z-index:999;
    top:205px;
    *left:200px;
}
#nav ul {
    text-align:center;
    display:inline-block;
    /* added by viljami */ *float:left;
    margin:0 auto;
    height:35px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    background:transparent url('images/bg_menu.png') repeat-x;
}
#nav li {
    float:left;
}
#nav a {
    font-size:18px;
    border:0;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    padding:5px 12px 0;
    height:30px;
    display:block;
    background:rgba(255,255,255,0.01);
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -webkit-font-smoothing:antialiased;
}
#nav a:hover {
    background:#333;
    background:rgba(255,255,255,0.1);
    padding:5px 12px 0;
    height:30px;
}
#nav a:active {
    color:#999;
}
#nav a:focus {
    outline:0;
}
#nav a.selected {
    height:37px;
    padding:5px 12px 5px;
    background:transparent url('images/selected_menu.png?1305065911') no-repeat 50% 0;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
}
#nav.active ul {
    -moz-box-shadow:rgba(0,0,0,0.4) 0 3px 15px 0;
    -webkit-box-shadow:rgba(0,0,0,0.4) 0 3px 15px 0;
    -o-box-shadow:rgba(0,0,0,0.4) 0 3px 15px 0;
    box-shadow:rgba(0,0,0,0.4) 0 3px 15px 0;
}
#nav.active {
    *position:absolute !important;
    *top: 205px !important;
}
/* =========================================== HOME============================================== */
#home {
    padding:0;
    width:940px;
    height:647px;
    text-align:center;
    background:transparent url('images/lab.jpg') no-repeat fixed 51% 155px;
}
#logo {
    margin-top:60px;
    width:100%;
    height:117px;
}
#logo a {
    background: url("images/logo6.png") no-repeat scroll 50% 40% transparent;
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 200px;
}
#hgroup h1 {
    color:#eee;
    margin-top:124px;
    margin-bottom:7px;
    font:57px/100px "Proxima Nova Condensed Semibold", "Arial Narrow",Impact,Helvetica,Arial,sans-serif;
    letter-spacing:-4px;
    text-shadow:0 -2px 0 rgba(0,0,0,0.7);
    -webkit-font-smoothing:antialiased;
}
#hgroup h2,#people .hd,#about .hd,#services .hd,#contact .hd,#blog h3,.slidecontent h3 {
    margin:30px 0 0 65px;
    letter-spacing:0;
    font:24px/34px "Proxima Nova Condensed Light","Arial Narrow",Helvetica,Arial,sans-serif;
    text-align:left;
    width:570px;
    text-shadow:0 -2px 0 rgba(0,0,0,0.4);
}
#hgroup h2 {
    float:left;
    margin-left:75px;
    _margin-left:32px;
}
em {
    font-style:normal;
}
#hgroup em {
    font-family: "Proxima Nova Condensed Semibold","Arial Narrow",Helvetica,Arial,sans-serif;
}
.action,.action:hover {
    position:absolute;
    right:103px;
    top:410px;
    display:block;
    border:0 !important;
    width:146px;
    height:146px;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
}
.action img,.action:hover img,.action:focus img {
    position:absolute;
    top:0;
    left:0;
    border:0 !important;
    background:transparent;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
.action:hover img,.action:focus img {
    opacity:0.7;
}
.action:active img {
    opacity:0.6;
}
.hidden {
    display: none;
}
/* =========================================== PROJECTS============================================== */
#work {
    height:auto;
    overflow:visible;
    padding-bottom:30px;
}
#work h2 {
    margin-bottom:38px;
}
#work p {
    width:224px;
    float:left;
}
#work .project img {
    float:left;
    margin-right:15px;
}
#work .project {
    float:left;
    width:60%;
    margin-bottom:45px;
}
#work a.block {
    width:100%;
    float:left;
    border:0;
}
#work #project_vb,#work #project_mt {
    width:400px;
}
#work h3,#people h3,#blog h4,.sidebar h4,#services h4 {
    color:#eee;
    font-weight:normal;
    font-size:18px;
    line-height:18px;
    margin-bottom:10px;
    text-shadow:0 -2px 0 rgba(0,0,0,0.7);
}
.sites {
    position:absolute;
    right:55px;
    top:88px;
    border:0;
    background:transparent;
    padding:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow: none;
}
/* =========================================== OPEN PROJECTS============================================== */
#work-open {
    padding-top:20px;
    float:left;
    width:100%;
}
#work .openproject {
    position:relative;
    width:822px !important;
    float:left;
    height:0;
    display:none;
    overflow:hidden;
}
#work .openproject .slides {
    margin-top:40px;
    float:left;
    overflow:hidden;
    position:relative;
    width:800px;
    height:468px;
}
#work .openproject .pagination {
    list-style:none;
    margin:10px 0 0;
    padding:0;
    text-align:center;
    float:left;
    width:810px;
}
#work .openproject .pagination a {
    margin-right:5px;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
    border:0;
    display:inline-block;
    *float:left;
    width:18px;
    height:18px;
    overflow:hidden;
    text-indent:-9999px;
    background:transparent url('/images/kiskosprite.png') no-repeat -627px 0;
}
#work .openproject .pagination a.activeSlide {
    background-position:-603px 0;
}
#work .openproject .pagination a:focus {
    opacity:0.5;
}
#work .openproject .slidecontent {
    float:left;
    margin-top:24px;
    width:810px;
}
#work .openproject img {
    position:absolute;
    top:3px !important;
    left:3px !important;
    width:100%;
    max-width:800px;
    height:auto;
    background-position:3px 3px;
    background-repeat:no-repeat;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    border:0;
    background:transparent none;
    padding:0;
}
#work .openproject .close {
    position:absolute;
    top:20px;
    right:-5px;
    background:transparent url('/images/kiskosprite.png') no-repeat right top;
    z-index:1001;
    width:50px;
    border:0;
    height:50px;
}
#work .openproject .close:hover {
    opacity:0.7;
}
#work .openproject h3 {
    margin:0 0 24px;
    font-size:24px;
    letter-spacing:0;
}
#work .openproject h3 span {
    color:#666;
    margin-left:7px;
}
#work .openproject .col {
    float:left;
    width:250px;
    background:transparent;
    border:0;
    margin-right:30px;
    padding:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
#work .openproject p {
    font:12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:auto;
    color:#eee;
}
#work .openproject .readmore {
    float:right;
}
#work .openproject .col2 p {
    margin-top:34px;
}
#work .openproject .col3 {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -o-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    width:195px;
    background:#333;
    background:rgba(255,255,255,0.04);
    padding:20px 25px 0;
    *padding:20px 25px;
    margin-top:22px;
    margin-right:0;
    border:1px dashed rgba(255,255,255,0.1);
}
#work .openproject .col3 p {
    margin-bottom:0;
    font:200 16px/24px "Proxima Nova Condensed Light","Arial Narrow",Helvetica,Arial,sans-serif;
}
#work .openproject .col3 em {
    *display:none;
    float:left;
    color:#555;
    font:69px/1px "Proxima Nova Condensed Semibold","Arial Narrow",Helvetica,Arial,sans-serif;
    margin:0.35em 0.15em 0 0;
    line-height:1px;
}
#work .openproject .col3 em.sec {
    float:right;
    line-height:40px;
    margin: 0.15em 0 0 0;
}
/* =========================================== SERVICES============================================== */
#services h4 {
    margin-bottom:18px;
}
#services img {
    background:transparent;
    border:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    margin:10px 0 10px -10px;
}
#services .col {
    border:0;
    padding:0;
    margin:0 25px 0 0;
    background:transparent none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    width:175px;
    float:left;
}
#services .col p {
    line-height:18px;
    font-family:helvetica,Arial,sans-serif;
    font-size:13px;
    margin-bottom:18px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
}
#services .col .readmore {
    margin-top:20px;
}
#services .col.over {
    cursor:pointer;
}
#services .col.over img {
    opacity:0.7;
}
#services .col.over p {
    color:#eee;
}
#services .col.over a {
    color:#eee;
    background:#095d7a;
}
#services .col4 {
    margin-left: 0;
}
/* =========================================== PEOPLE============================================== */
#people {
    padding-bottom:65px;
}
#people .img {
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    margin-bottom: 10px;
    width: 110px;
}
#people .img1 {
    background-image: url("images/kiro.jpg");
}
#people .img2 {
    background-image: url("images/mina.jpg");
}
#people a,#people div {
    float:left;
    width:118px;
    margin-right:53px;
    padding-bottom:40px;
    border:0;
}
#people .last {
    margin-right:0;
}
#people h3 {
    margin-bottom:4px;
}
#people div .img {
    border-color:#333;
}
#people p {
    white-space:nowrap;
}
#people .hd,#about .hd,#contact .hd,#services .hd,#blog h3 a,#blog h3 {
    width:auto;
    margin:0 0 48px 0;
    color: #9f9f9f;
}
/* =========================================== ABOUT============================================== */
#about .hd {
    margin-bottom:19px;
}
#about p {
    margin-bottom:24px;
    line-height:24px;
    color:#eee;
}
.col {
    width:510px;
    float:left;
}
.col2 {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -o-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    width:200px;
    background:#333;
    background:rgba(255,255,255,0.04);
    padding:20px 25px;
    float:right;
    margin-top:2px;
    margin-right:0;
    border:1px dashed rgba(255,255,255,0.1);
}
.col2 p {
    margin-bottom:0;
    font:200 16px/24px "Proxima Nova Condensed Light","Arial Narrow",Helvetica,Arial,sans-serif;
}
.col2 em {
    float:left;
    color:#555;
    font:69px/1px "Proxima Nova Condensed Semibold","Arial Narrow",Helvetica,Arial,sans-serif;
    margin:0.35em 0.15em 0 0;
    line-height:1px;
}
.col2 em.sec {
    float:right;
    line-height:20px;
}
.col2 .bywho {
    font:12px/18px Helvetica,Arial,sans-serif;
    white-space: nowrap;
}
/* =========================================== BLOG============================================== */
#blog h3 a {
    color:#eee;
    border:0;
}
#blog h4 a {
    color:#eee;
    border-bottom:1px solid transparent;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
}
#blog p,#blog h3 {
    margin-bottom:32px;
}
#blog p p {
    margin:none;
    padding:none;
    max-height:54px;
    text-overflow:ellipsis;
    overflow:hidden;
}
#blog article {
    float:left;
    width:100%;
}
#blog .col {
    width:370px;
    background:transparent url('/images/line_vertical.png') repeat-y top right;
    padding-right:30px;
    margin:0 30px 30px 0;
}
#blog .last {
    background:transparent none;
    margin-right:0;
    padding-right:0;
}
#blog .over {
    cursor: pointer;
}
/* =========================================== GET IN TOUCH============================================== */
#contact {
    padding-bottom:100px;
    height: 550px;
}
#contact .hd {
    width:540px;
}
#contact form {
    float:left;
    width:510px;
    padding-right:30px;
    background:transparent url('/images/line_vertical.png?1305065911') repeat-y top right;
}
#contact li {
    float:left;
    width:100%;
    margin-bottom:6px;
}
label {
    text-align:right;
    padding-right:40px;
    float:left;
    width:80px;
    color:#eee;
}
input,textarea {
    float:left;
    width:368px;
    border:0;
    padding:8px 10px;
    color:#9f9f9f;
    text-shadow:0 -1px 2px rgba(0,0,0,0.5);
    font:13px/18px Arial,Helvetica,sans-serif;
    background:#3d3d3d;
    background:rgba(255,255,255,0.1);
    -webkit-box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,rgba(0,0,0,0.3) 0 -1px 2px;
    -moz-box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,rgba(0,0,0,0.3) 0 -1px 2px;
    box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,rgba(0,0,0,0.3) 0 -1px 2px;
    border:1px solid #444;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}
input:hover,textarea:hover {
    border:1px solid #999;
}
input:focus,textarea:focus {
    color:#fff;
    border:1px solid #0b8cb8;
    -webkit-box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,#0b8cb8 0 0 10px;
    -moz-box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,#095d7a 0 0 10px;
    box-shadow:inset rgba(0,0,0,0.35) 2px 2px 12px,#095d7a 0 0 10px;
    outline:0;
}
#submit {
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    float:right;
    width:100px;
    background:#095d7a;
    text-transform:uppercase;
    color:#fff;
    font:18px/18px "Proxima Nova Condensed Regular","Proxima Nova Condensed","Arial Narrow",Helvetica,Arial,sans-serif;
    padding:8px 0;
    border:0;
}
#submit:focus,#submit:hover {
    background:#333;
    background:rgba(255,255,255,0.06);
}
#social {
    position:absolute;
    top:140px;
    right:148px;
}
#social .fb,#social .tw,#social .rss {
    float:left;
    margin-right:10px;
    width:38px;
    height:38px;
    border:0;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
    background:transparent url('/images/kiskosprite.png') no-repeat -370px -3px;
}
#social .tw {
    background:transparent url('/images/kiskosprite.png') no-repeat -419px -3px;
}
#social .rss {
    background:transparent url('/images/kiskosprite.png') no-repeat -467px -3px;
}
#social .fb:hover,#social .fb:focus {
    background-position:-370px -50px;
    opacity:1.0;
}
#social .tw:hover,#social .tw:focus {
    background-position:-419px -50px;
    opacity:1.0;
}
#social .rss:hover,#social .rss:focus {
    background-position:-467px -50px;
    opacity:1.0;
}
.sidebar {
    margin-top:2px;
    width:200px;
    float:left;
    padding:0 0 17px 30px;
    font-size:12px;
}
.sidebar a:focus {
    -webkit-box-shadow:#0b8cb8 0 0 10px;
    -moz-box-shadow:#095d7a 0 0 5px;
    box-shadow:#095d7a 0 0 10px;
}
.sidebar li {
    float:left;
    margin-bottom:18px !important;
}
.sidebar div {
    float:right;
    width:145px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sidebar h4 {
    margin-top:2px;
    font-size:18px;
    line-height:18px;
    float:left;
    width:55px;
    overflow:hidden;
}
#confirmation {
    display:none;
}
.formsent form {
    display:none;
}
.formsent #confirmation {
    display:block;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    -o-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
    background:#333;
    border:1px solid #41c600;
    float:left;
    width:460px;
    background:rgba(65,198,0,0.14);
    padding:25px;
    color:#fff;
    font: 14px/24px sans-serif;
}
/* =========================================== VALIDATION============================================== */
#contact .messages li {
    float:right;
    width:388px;
    font-size:11px;
    color:#d2493d;
    margin:0 0 10px 0;
}
.error input,.error textarea {
    border: 1px solid #d2493d;
}
/* =========================================== FOOTER============================================== */
#footer {
    font:11px/20px Helvetica,Arial,sans-serif;
    background-image:none;
    text-align:center;
    width:452px;
    color:#666;
    padding:0 235px 100px;
    margin:0 auto;
    -webkit-font-smoothing:antialiased;
}
.frozenrails,.railsgirls {
    opacity:0.7;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
    margin-top:30px;
    border-bottom:0 !important;
    display:inline-block;
    padding-top:24px;
    width:79px;
    height:65px;
    background:transparent url('/images/kiskosprite.png') no-repeat 0 0;
}
.railsgirls {
    margin-right:10px;
    opacity:0.7;
    width:157px;
    background:transparent url('/images/kiskosprite.png') no-repeat -80px 0;
}
.frozenrails:hover,.frozenrails:focus {
    opacity:1.0;
    background:transparent url('/images/kiskosprite.png') no-repeat 0 -135px;
}
.railsgirls:hover,.railsgirls:focus {
    opacity:1.0;
    background: transparent url('/images/kiskosprite.png') no-repeat -80px -135px;
}
/* =========================================== DEVICE ADAPTATION============================================== */
/* 1000px and under */
@media screen and (max-width:1000px) {
    .action {
        -webkit-transition:none;
        -moz-transition:none;
        transition: none;
    }
}
/* 970px and under */
@media screen and (max-width:970px) {
    .formsent #confirmation {
        width:90%;
        padding:5%;
    }
    #wrapper,#wrapper section,#hgroup h2 {
        width:100%;
    }
    #wrapper {
        min-width:340px;
        margin:0;
    }
    #wrapper section {
        padding-left:7%;
        padding-right:7%;
        padding-top:60px;
        width:86%;
        padding-bottom:30px;
        height:auto;
        background-position:50% 0;
    }
    #about,#blog {
        padding-bottom:60px !important;
    }
    #hgroup h1 {
        margin-top:110px;
    }
    #hgroup h2 {
        margin:10px 40px 30px;
        text-align:center;
        width:auto;
    }
    h2,#wrapper h3.hd {
        width:100%;
    }
    #wrapper h3.hd {
        margin-bottom:30px;
    }
    #wrapper #home {
        padding-top:0;
        width:100%;
        padding:0 0 60px;
        background-position:51% 155px;
    }
    .action,.action:hover {
        position:relative;
        top:auto;
        right:auto;
        float:none;
        margin:0 auto;
    }
    .sites,#social,#work .openproject .col3,.openproject .readmore {
        display:none !important;
    }
    #nav {
        width:100%;
    }
    #blog .col {
        margin:0;
        background:transparent none;
    }
    .col2,.col,.sidebar {
        float:left;
        clear:both;
        width:auto;
    }
    #services .col {
        width:100%;
        clear:none;
        padding:0;
        text-align:left;
        background:transparent none !important;
    }
    #services h4,#services p,#services img {
        float:left;
    }
    #services h4,#services p {
        width:70%;
    }
    #services h4 {
        margin-top:30px;
    }
    #services img {
        margin-right:20px;
    }
    #work .project {
        width:50% !important;
        float:left;
        height:110px;
        margin:0 auto 30px;
    }
    #work .project p {
        width:150px;
    }
    .pagination {
        text-align:left !important;
    }
    #work .openproject img {
        border:0;
        padding:0;
        top:0 !important;
        left:0 !important;
        width:100% !important;
        height:auto !important;
    }
    #work .openproject .slides {
        border:1px solid #444;
        width:98% !important;
        height:415px;
    }
    #work .openproject {
        width:100% !important;
    }
    #work .openproject .slidecontent {
        width:100%;
    }
    #work .openproject .slidecontent .col,#work .openproject .slidecontent .col p {
        width:100%;
        margin:0 0 10px 0;
        padding:0;
    }
    #people a,#people div,#people .last {
        margin-right:33px;
    }
    #dev_blog,#lahtolaukaus {
        width:100% !important;
        padding:0;
    }
    #dev_blog {
        margin-bottom:50px !important;
    }
    #contact form {
        background:transparent none;
        padding:0;
        margin:0;
        width:100%;
    }
    #contact label,#contact input,#contact textarea {
        width:97%;
        padding:10px 5px;
        text-align:left;
    }
    #contact textarea {
        height:140px;
        margin-bottom:10px;
    }
    #contact #submit {
        width:150px;
        text-align:center;
        float:left;
    }
    .sidebar {
        margin:40px 0 0;
        padding:0;
        font-size:14px;
        width:90%;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -o-border-radius:3px;
        -ms-border-radius:3px;
        -khtml-border-radius:3px;
        border-radius:3px;
        -moz-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
        -webkit-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
        -o-box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
        box-shadow:rgba(0,0,0,0.3) 0 0 3px 0;
        background:#333;
        background:rgba(255,255,255,0.04);
        padding:5%;
        border:1px dashed rgba(255,255,255,0.1);
    }
    .sidebar div {
        float:left;
        width:100%;
    }
    #contact .messages li {
        width: 100%;
    }
}
/* 840px and under */
@media screen and (max-width:840px) {
    #work .openproject .slides {
        height:370px;
    }
    #services h4,#services p {
        width: 65%;
    }
}
/* 740px and under */
@media screen and (max-width:740px) {
    #work .project {
        width:100% !important;
        float:none;
        margin:0 auto 20px;
    }
    #work .project p {
        width:60%;
    }
    #hgroup {
        width:95%;
        margin:0 auto;
    }
    #hgroup h1 {
        margin-top:90px;
    }
    #hgroup h2 {
        margin:0 30px 30px;
    }
    #services h4,#services p {
        width:63%;
    }
    #work .openproject .slides {
        height: 300px;
    }
}
/* 600px and under */
@media screen and (max-width:600px) {
    #services h4,#services p {
        width:53%;
    }
    #work .project {
        float:left;
        width:100% !important;
    }
    #skip {
        display:inline;
        font-size:13px;
        font-family:Helvetica,Arial,sans-serif;
        color:#0b8cb8;
        border-bottom:1px solid #0b8cb8;
    }
    body {
        min-width:320px;
        background:#242424 url('/images/iphonebg.jpg?1305459114') repeat;
    }
    #home .action {
        margin:25px auto 20px;
        width:125px;
        height:125px;
    }
    #home .action img {
        margin:0 0 0 0;
        width:115px;
        height:115px;
    }
    #nav,#nav.active {
        position:relative !important;
        top:auto !important;
        left:auto;
        float:left;
        right:auto;
        text-align:left;
        width:85%;
        margin:10% 7%;
    }
    #nav ul {
        background:transparent none;
    }
    #nav li {
        float:left;
        width:100%;
        min-width:260px;
        text-align:left;
        margin:0 !important;
    }
    #nav li a,#nav li a.selected {
        -webkit-transition:none !important;
        -moz-transition:none !important;
        transition:none !important;
        background:rgba(255,255,255,0.05) url('/images/arrow.png?1305706360') no-repeat right top;
        border-bottom:1px solid rgba(0,0,0,0.3);
        border-top:1px solid rgba(255,255,255,0.1);
        padding-left:20px !important;
        padding-bottom:0 !important;
        height:28px !important;
    }
    #nav li a:hover {
        background:rgba(255,255,255,0.2) url('/images/arrow.png?1305706360') no-repeat right top;
    }
    #logo {
        margin-top:50px;
    }
    #wrapper #home {
        padding-bottom:30px;
        background:transparent none;
    }
    #hgroup h1 {
        letter-spacing: -1px;
        line-height: 50px;
        margin: 20px 0;
    }
    #hgroup h2 {
        margin:0 20px 20px;
    }
    #hgroup h2,#wrapper section h3.hd {
        font-size:20px !important;
        line-height:26px !important;
    }
    #work .openproject .slides {
        height: 240px;
    }
}
/* 480px and under */
@media screen and (max-width:480px) {
    * {
        -webkit-text-size-adjust:none;
        -ms-text-size-adjust:none;
    }
    #work .project {
        width:100% !important;
        height:auto;
        margin:0 auto 30px;
    }
    #work .project h3,#work .project p {
        width:46% !important;
        float:left;
    }
    #work .openproject .slides {
        height:200px;
    }
    #services h4,#services p {
        width:100%;
    }
    #services img {
        display:none;
    }
    #services h4 {
        margin-top:15px;
    }
    #people a,#people div {
        height: 180px;
    }
}
/* 400px and under */
@media screen and (max-width:400px) {
    #work .openproject .slides {
        height:160px;
        width: 95% !important;
    }
}
/* 320px and under */
@media screen and (max-width:320px) {
    body {
        width:320px !important;
        /* Opera Mini fix */
    }
    #people a:nth-child(even) {
        margin-right:0;
    }
    #people div.last {
        display:none;
    }
    #work .openproject .slides {
        height:140px;
    }
    #wrapper {
        min-width:92%;
    }
    #work .project h3,#work .project p {
        width: 40% !important;
    }
}
/* iPads (portrait and landscape) */
@media screen and (device-width:768px) {
    body {
        -webkit-background-size:2000px 1314px;
    }
    #services .col {
        -webkit-transition:none;
        transition:none;
    }
    #services .col p {
        -webkit-transition:none;
        transition: none;
    }
}