<div id="home-view">
	<section id="search-container">
		<section>
			<label for="search-type">What type of business are you looking for?</label>
			<input id="search-type" type="text" />
		</section>
		<section class="search-location-section">
			<section id="search-location-section">
				<input id="search-location-radio" type="radio" name="location-option" />
				<label for="search-location-radio">Where are you?</label>
				<input id="search-location" type="text" />
			</section>
			<span>OR</span>
			<section>
				<input id="search-entire-dir" type="radio" name="location-option" />
				<label for="search-entire-dir">Search entire directory</label>
			</section>
		</section>
		<a id="search-button" class="button-glossy yellow hide_when_printing" href="#">Search</a>
	</section>
</div>