<div id="profile-view">
	Something goes here
</div>

<script id="profile-template" type="text/html">
	<div class="fb-like" data-href="{{profileURL}}" data-send="true" data-width="450" data-show-faces="true"></div>
	{{#image}}
	<section class="image">
		<a><img src="images/{{image}}" /></a>
	</section>
	{{/image}}
	<section class="info">
		<h2>{{name}}</h2>
		<div class="address">
			<span class="street-address">{{streetAddress}}</span>
			<span class="postal-code">{{postalCode}}</span>
		</div>
		<span class="telephone">{{phone}}</span>
		<a href="mailto:{{email}}">{{email}}</a>
		{{#website}}
		<a href="{{website}}">{{website}}</a>
		{{/website}}
	</section>
</script>