<div>
	Something goes here
</div>
<script id="profile-template" type="text/html">
	<section class="top">
	</section>
	<section class="logo">
		<a><img src="images/{{img}}" /></a>
	</section>
	<section class="info">
		<h3>
			<!-- If there's a profile, clicking on the name brings you to the business profile -->
			{{#profile}}
			<a href="#/profile/{{profile}}">{{name}}</a>
			{{/profile}}
			<!-- Otherwise just display the business' name -->
			{{^profile}}
			{{name}}
			{{/profile}}
		</h3>
		<!-- If there's a catchphrase, show it -->
		{{#catchphrase}}
		<p class="catchphrase">{{catchphrase}}</p>
		{{/catchphrase}}
		<div class="address">
			<span class="street-address">{{streetAddress}}</span>
			<span class="postal-code">{{postalCode}}</span>
		</div>
		<span class="telephone">{{phone}}</span>
		<span class="distance">{{distance}}</span>
		<!-- If there's a website, show a link to it -->
		{{#website}}
		<a href="{{website}}">website</a>
		{{/website}}
	<section>
</script>