<script>
	(function () {
		var js = document.getElementById('google-maps-js');
		if (js) { 
			initializeSearchMap();
			return; 
		}

		initializeSearchMap = function() {
			var myLatlng = new google.maps.LatLng(-34.397, 150.644);
			var myOptions = {
				zoom: 8,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

			CP.Location.getCurrentPosition().done(function (position) {
		        var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		        map.setCenter(initialLocation);
			});
		}

		var script = document.createElement("script");
		script.type = "text/javascript";
		script.id = 'google-maps-js'
		script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initializeSearchMap";
		document.body.appendChild(script);
	})();
</script>

<section id="search">
	<div>
		<span>
			<a href="#">List your business with us today!</a>
		</span>
	</div>
	<div>
		<section id="search-params">
			<section>
				<label for="search-type">What type of business are you looking for?</label>
				<input id="search-type" type="text" />
			</section>
			<section>
				<label for="search-location">Where are you?</label>
				<input id="search-location" type="text" />
			</section>
			<section>
				<a id="search-button" href="/get/sharing" class="btn-blue">Search</a>
				<!--
				<input id="search-dir" type="checkbox" />
				<label for="search-dir">Search entire directory</label>
				-->
			</section>
		</section>
		<section id="search-body">
		</section>
		<section id="search-filter-wrapper">
			<!-- Create a wrapper so that when scrolling, the search-filter is always in view -->
			<div id="search-filter">
				<section id="map-options">
					<input id="search-map-checkbox" type="checkbox" />
					<label for="search-map-checkbox">Update results as map moves</label>
				</section>
				<section id="map_canvas">
				</section>
			</div>
		</section>
	</div>
</section>

<script id="search-listitem-template" type="text/html">
	<section class="top">
	</section>
	<section class="logo">
		<a><img src="images/{{thumbnail}}" /></a>
	</section>
	<section class="info">
		<h3>
			{{#profile}}
			<a href="#/profile/{{profile}}">{{name}}</a>
			{{/profile}}
			{{^profile}}
			{{name}}
			{{/profile}}
		</h3>
		{{#catchphrase}}
		<p class="catchphrase">{{catchphrase}}</p>
		{{/catchphrase}}
		<div class="address">
			<span class="street-address">{{streetAddress}}</span>
			<span class="postal-code">{{postalCode}}</span>
		</div>
		<span class="telephone">{{phone}}</span>
		<span class="distance">{{distance}}</span>
		{{#website}}
		<a href="{{website}}">website</a>
		{{/website}}
	<section>
</script>