.outer-container {
  width: 515px;
}
.scrl {
  background: url(http://www.scottswork.com/portfolio/images/hed_rep.gif) repeat-x;
  padding: 6px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  height: 53px;
}
.sliderGalleryContainer {
  display: inline-block;
}
.sliderGallery {
  width: 416px;
  overflow: hidden;

  position: relative;
  height: 40px;
}
.sliderGallery ul {
  list-style: none;
  width: 1000px;
  overflow: hidden;

  position: absolute;

  margin: 0;
  padding: 0;
}
.sliderGallery ul li {
  float: left;
  height: 36px;
  width: 34px;

  padding: 0 2px;
  cursor: pointer;
}

.sliderGallery ul li img {

}

.active_img {
  display: inline-block;
}

.list_inner {
  text-align: center;
  padding: 7px;
  border: 1px solid transparent;
}

.sliderGallery ul li.selected div {
  border: 1px solid white;
}