.button-glossy.green {
    background: -moz-linear-gradient(center top , #5CCD00, #4AA400) repeat scroll 0 0 transparent;
    border: 1px solid #459A00;
}
.button-glossy.darkred {
    background: -moz-linear-gradient(center top , #BA3347, #9A2A3B) repeat scroll 0 0 transparent;
    border: 1px solid #922838;
}
.button-glossy.blue {
    background: -moz-linear-gradient(center top , #249FD3, #1E85B0) repeat scroll 0 0 transparent;
    border: 1px solid #1D7EA7;
}
.button-glossy.red {
    background: -moz-linear-gradient(center top , #FE3F4A, #FE1624) repeat scroll 0 0 transparent;
    border: 1px solid #FE0C1A;
}
.button-glossy.lightblue {
    background: -moz-linear-gradient(center top , #899FE3, #6884DB) repeat scroll 0 0 transparent;
    border: 1px solid #607DD9;
}
.button-glossy.fb-blue {
    background: -moz-linear-gradient(center top , #5771A9, #495F8E) repeat scroll 0 0 transparent;
    border: 1px solid #455A88;
}
.button-glossy.goog-blue {
    background: -moz-linear-gradient(center top , #4D90FE, #2477FE) repeat scroll 0 0 transparent;
    border: 1px solid #1A70FE;
}
.button-glossy.orange {
    background: -moz-linear-gradient(center top , #FF8638, #FF6D0F) repeat scroll 0 0 transparent;
    border: 1px solid #FF6705;
}
.button-glossy.grey {
    background: -moz-linear-gradient(center top , white, #EBEBEB) repeat scroll 0 0 transparent;
    border: 1px solid #E6E6E6;
    color: #959595 !important;
    text-shadow: 0 1px 1px white;
}
.button-glossy.yellow {
    background: -moz-linear-gradient(center top , #FED221, #F5C501) repeat scroll 0 0 transparent;
    border: 1px solid #EBBC01;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #A48400 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.button-glossy.pink {
    background: -moz-linear-gradient(center top , #EC2E90, #DD147C) repeat scroll 0 0 transparent;
    border: 1px solid #D41377;
}
.button-glossy.dark-grey {
    background: -moz-linear-gradient(center top , #55585A, #414345) repeat scroll 0 0 transparent;
    border: 1px solid #3C3E40;
    color: #FFFFFF !important;
}
.button-glossy {
    background: -moz-linear-gradient(center top , #5CCD00, #4AA400) repeat scroll 0 0 transparent;
    border: 1px solid #459A00;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 2em;
    min-height: 2em;
    min-width: 5em;
    padding: 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
.button-glossy:before {
    background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1)) repeat scroll 0 0 transparent;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    bottom: 0;
    content: " ";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}
.button-glossy:hover {
    box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none !important;
}
.button-glossy:active {
    box-shadow: 0.05em 0.15em 0.4em rgba(0, 0, 0, 0.4) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.9) inset;
}
.button-glossy[disabled] {
    cursor: default;
    opacity: 0.3;
}
.button-glossy[disabled]:hover {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
}
.button-glossy[disabled]:active {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
}