html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;s
}

body {
	/*font: 13px/1.231 sans-serif;*/
	/*font-family: lucida grande,lucida sans unicode,lucida sans,sans-serif;*/
	/*background: url("./images/bg-texture.jpg") repeat scroll 0 0 #FFFFFF;*/
	font: 12px/1.4 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	background-color: #F5F5F5;
}

.wrapper {
	margin: 0 auto;
	width: 1020px;
}
.banner {
	/*background: url("./images/bg-texture.jpg") repeat scroll 0 0 #FFFFFF;*/
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    padding: 10px;
}
.pipe {
    margin: 0 5px;
}

#background {
	background-color: white;
	padding-bottom: 25px;
	padding-top: 25px;
}

/* HEADER */
#site-header {
	/*background: url("./images/body-bg.jpg") repeat scroll 0 0 #222222;*/
	background: url("./images/columns.png") repeat-x scroll 0 0 #1765A6;
	/*background: url("./images/bg-header.jpg") repeat-x scroll center top transparent;*/
}
#site-header {
	border-bottom: 1px solid #C2C2C2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	/*margin-bottom: 15px;
	height: 42px;*/
	height: 40px;
}
#footer {
	border-top: 1px solid #D9D9D9;
    color: #555555;
    padding: 40px 0 25px;
}
#footer nav {
	width: 280px;
	margin: 0 auto;
	height: 100px;
}
#footer nav > ul {
	list-style: none;
}
#footer nav > ul > li {
	float: left;
	width: 140px;
}
#footer nav > ul > li h5 {
	color: black;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
#footer a {
    color: #333333;
    font-size: 11px;
    line-height: 1.6em;
}
#footer .copyright {
    color: #777777;
    font-size: 11px;
    text-align: center;
}
#footer .copyright a {
    color: #555555;
    font-size: 11px;
}
#footer .pipe {
    color: #CCCCCC;
}

/* NAVIGATION */
#site-header nav {
	float: right;
}
#site-header nav ul {
	margin-top: 12px;
	list-style: none;
}
#site-header nav ul li {
	float: left;
	margin-left: 10px;
}
#site-header nav ul li {
	/*text-transform: uppercasez;*/
}
#site-header nav ul li a {
 	color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
#site-header nav ul li a:hover {
	/*text-decoration: underline;*/
	/*border-bottom: 2px solid #555555;*/
	/*background-color: #FE6D4C;*/
	background-color: rgba(0, 0, 0, 0.3); /*#777777;*/
}


#list-your-space {
    float: right;
}

#action {
	height: 65px;
}

/* HOME */
#home-view {
}
#home-view #search-container {
	margin: 0 auto;
	width: 500px;
	height: 300px;
	margin-top: 15px;
	/*background-color: #3862A1;*/
	/*padding: 15px;*/
	/*border-radius: 10px;*/
}
#home-view #search-container label {
	/*color: white;*/
	font-size: 15px;
}
#home-view #search-container section input[type="text"] {
    color: #3D3D3D;
    font-size: 20px;
    padding: 5px;
	border: 1px solid #A8A8A8;
}
#home-view #search-container #search-type {
	display: block;
	width: 455px;
}
#home-view #search-container > section:first-child label {
	display: block;
	margin-bottom: 10px;
}
#home-view #search-container > section, 
#home-view #search-container > section > section {
	margin-bottom: 10px;
}
#home-view #search-container #search-location {
	display: block;
}
#home-view #search-container #search-button {
	float: right;
}
#home-view #search-container .search-location-section {
	/*padding: 15px 40px;*/
}

/* SEARCH */
#search {
 	background-color: white;
    width: 1020px;
}
#search > div {
    overflow: hidden;
}
#search > div:first-child {
	margin-bottom: 5px;
}
#search > div:first-child span {
	float: right;
}
#search > div:first-child span a {
 	background: url("./images/subscribe-add.png") no-repeat scroll left 50% transparent;
    color: #ED5D21;
    font-weight: bold;
    display: inline-block;
    padding-left: 17px;
    text-decoration: underline;
}
#search > div:last-child {
	border: 1px solid #A8A8A8;
    border-radius: 7px 7px 7px 7px;
}
#search-params {
	background: none repeat scroll 0 0 #EDF0F8;
    border-bottom: 1px solid #A8A8A8;
    height: 70px;
    padding: 10px;
    width: 1000px;
}
#search-params section {
	width: 350px;
	display: inline-block;
}
#search-params section:last-child{
	width: auto;
}
#search-params section label {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 5px;
}
#search-params section input[type=text]{
	border: 1px solid #A8A8A8;
    color: #3D3D3D;
    font-size: 20px;
    padding: 5px;
    width: 300px;
}
#search-button {
	top: -2px;
}
#search-body {
	width: 740px;
	border-right: 1px solid #A8A8A8;
	float: left;
}
#search-filter-wrapper 	 {
	float: left;
	position: relative;
}
#search-filter-wrapper, #search-filter {
	width: 277px;
} 
#map-options {
	background: none repeat scroll 0 0 #EEEEE6;
    border-bottom: 1px solid #A8A8A8;
    color: #2D2D2D;
    height: 17px;
    padding: 3px 0 3px 4px;
}
#map-options label {
	line-height: 20px;
    vertical-align: top;
}
#map_canvas {
	width: 277px;
	height: 300px;
}
/* LISTINGS */
.listings {
	list-style: none;
	width: 100%;
}
.listing {
	border-bottom: 1px solid #EEEEEE;
	min-height: 92px;
    padding: 10px 0 0;
    position: relative;
    overflow: hidden;
}
.listing:hover {
	background: -moz-linear-gradient(center top , #DEF3F9, #CAE7EE) repeat scroll 0 0 #CAE7EE;
}
.listing .logo {
 	float: left;
    padding: 0 9px;
    width: 122px;
}
.listing .logo a {
 	border: 1px solid #D7D7D7;
    display: block;
    height: 74px;
    padding: 3px;
    background-color: white;
}
.listing .info {
	float: left;
}
.listing .info p, 
.listing .info span, 
.listing .info a  {
	line-height: 19px;
}
.listing .info .catchphrase {
	font-style: italic;
}
.listing .info h3 {
	font-size: 18px;
	font-weight: bold;
}
.listing .info h3 a:link {
	text-decoration: none;
	color: #1D95CB;
}
.listing .info h3 a:link:hover {
	text-decoration: underline;
}
.listing .info div > span {
}
.listing .top {
	float: right;
}

#profile-view .telephone {
 	color: #005E9D;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#profile-view header h2 {
	font-size: 35px;
	display: inline-block;
	margin-right: 15px;
}
#profile-view header .fb-like {
	display: inline-block;
}
#profile-view .info > span, 
#profile-view .info > a {
	display: block;
}
#profile-view #fb {
	height: 30px;
}

.section-container {
	background: none repeat scroll 0 0 #EDF0F8;
    border: 1px solid #D5DAE6;
    border-radius: 6px 6px 6px 6px;
    height: 65px;
    padding: 15px;
}

.btn-blue {
    background: -moz-linear-gradient(#098DF4, #125CB8) repeat scroll 0 0 #098DF4;
    border: 1px solid #125CB5;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 12px;
}
.btn-blue:hover {
    background: -moz-linear-gradient(#0584E7, #125BB3) repeat scroll 0 0 #098DF4;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.btn-blue:active {
    background: none repeat scroll 0 0 #125CB5;
    bottom: -1px;
    position: relative;
    top: 1px;
}

/*
#cities-container {
	margin: 0 auto;
	width: 500px;
	background-color: #EBEBEB;
	background-image: -moz-linear-gradient( top, #fafafa 0% , #ebebeb 100% );
	background-image: -webkit-gradient( linear, 0 0% , 0 100% , from( #fafafa ), to( #ebebeb ) );
	-moz-box-shadow: 1px 2px 3px 0 #cccccc;
	-webkit-box-shadow: 1px 2px 3px 0 #cccccc;
	box-shadow: 1px 2px 3px 0 #cccccc;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 2px 3px 0 #CCCCCC;
    margin: 0 auto;
    padding: 5px 10px;
    width: 500px;
}
#cities-list {
	list-style: none;
	height: 150px;
	display: inline-block;
}
#cities-list > li {
	float: left;
	margin-right: 10px;
	width: 115px;
}
#cities-list > li h5 {
	font-size: 17px;
	font-weight: bold;
	color: #333333;
}
#cities-list > li > ul > li a {
	width: 115px;
	display: block;
	font-weight: bold;
	padding: 2px 5px;
	color: #665252;
}
#cities-list > li > ul > li a:hover {
	background-color: #484848;
	color: white;
}
*/