html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font: 13px/1.231 sans-serif;
	font-family: lucida grande,lucida sans unicode,lucida sans,sans-serif;
	background-color: #FAFAFA;
}
#wrapper {
	background-color: white;
}

#wrapper, #header-wrapper, #footer-wrapper {
	margin: 0 auto;
	width: 1020px;
}

/* HEADER */
header, footer {
	/*background: url("./images/body-bg.jpg") repeat scroll 0 0 #222222;*/
	background-color: black;
}
header {
	border-bottom: 1px solid #C2C2C2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	margin-bottom: 15px;
	height: 42px;
}

footer {
	border-top: 1px solid #C2C2C2;
	margin-top: 15px;
	height: 42px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* NAVIGATION */
header nav {
	float: right;
}
header nav ul {
	margin-top: 10px;
	list-style: none;
}
header nav ul li {
	float: left;
	margin-left: 10px;
}
header nav ul li {
	font-size: 16px;
	/*text-transform: uppercase;*/
}
header nav ul li a {
	text-decoration: none;
	color: white;
}



/* SEARCH */
#search {
	border: 1px solid #A8A8A8;
	overflow: hidden;
	border-radius: 7px;
}
#search-params {
	background-color: #FFD84F;
    border-bottom: 1px solid #A8A8A8;
    height: 70px;
    padding: 10px;
    width: 1000px;
}
#search-params section {
	width: 350px;
	display: inline-block;
}
#search-params section:last-child{
	width: auto;
}
#search-params section label {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 5px;
}
#search-params section input[type=text]{
	border: 1px solid #A8A8A8;
    color: #3D3D3D;
    font-size: 20px;
    padding: 5px;
    width: 300px;
}
#search-body {
	width: 740px;
	border-right: 1px solid #A8A8A8;
	float: left;
}
#search-filter-wrapper 	 {
	float: left;
	position: relative;
}
#search-filter-wrapper, #search-filter {
	width: 277px;
} 
#map-options {
	background: none repeat scroll 0 0 #EEEEE6;
    border-bottom: 1px solid #A8A8A8;
    color: #2D2D2D;
    height: 17px;
    padding: 3px 0 3px 4px;
}
#map-options label {
	line-height: 20px;
    vertical-align: top;
}
/* LISTINGS */
.listings {
	list-style: none;
	width: 100%;
}
.listing {
	border-bottom: 1px solid #D8D8D8;
	min-height: 92px;
    padding: 10px 0 0;
    position: relative;
    overflow: hidden;
}
.listing .logo {
 	float: left;
    padding: 0 9px;
    width: 122px;
}
.listing .logo a {
 	border: 1px solid #D7D7D7;
    display: block;
    height: 74px;
    padding: 3px;
}
.listing .info {
	float: left;
}
.listing .info p, 
.listing .info span, 
.listing .info a  {
	line-height: 20px;
}
.listing .info .catchphrase {
	font-style: italic;
}
.listing .info h3 {
	font-size: 23px;
	font-weight: bold;
}
.listing .info h3 a:link {
	text-decoration: none;
	color: #1D95CB;
}
.listing .info div > span {
}
.listing .top {
	float: right;
}